.titles {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.links {
    font-size: 18px;
    color: black
}
.header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
img {
    width: 300px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: 25%;
}
p,h1,h2 {
    font-family: sans-serif;
}
.text {
    text-align: center;
}
.list {
    display: inline-block;
    text-align: left;
}
.list-container {
    text-align: center;
}